/* .happytite {background-color: #EAEAEA;} */
/* body {
  background-color: #EAEAEA;
} */

.menu-item {
  cursor: pointer;
}

.dropdown {
  width: 100px;
  height: 200px;
  background-color: #ffffff;
  position: absolute !important;
  border-radius: 7px;
  box-shadow: #ffffff;
  
  
}

.blogcard{
  width: 321;
  height: 130;
}