/* .happytite {background-color: #EAEAEA;} */
/* body {
  background-color: #EAEAEA;
} */
body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
}
.textcolor {
	color: #333333;
}

.typeWriterClass  {
	font-weight: 600 !important;
	font-size: 56px !important;
  color: #219653;
}

.cursorClass {
  color: #219653;
  font-size: 56px !important;
}

b {
	font-weight: 700 !important;
	font-size: 18px !important;
}
h1 {
	font-weight: 700 !important;
	font-size: 56px !important;
}

h2 {
	font-weight: 600 !important;
	font-size: 40px !important;
}

.menu-item {
	cursor: pointer;
}

.dropdown {
	width: 100px;
	height: 300px;
	background-color: #ffffff;
	position: absolute !important;
	border-radius: 7px;
	box-shadow: #000000;
	padding: 4px;
}

.blogcard {
	width: 321;
	height: 130;
}

.dietlist {
	padding-top: 5px;
	padding-bottom: 5px;
}

.button-orange {
	background-color: #f2994a;
	border-radius: 8px;
	border: none;
}

.button-orange:hover {
  background-color: #F2C94C;
  
}

.button-green:hover {
  background-color: #a2edc2;
  
}

.button-green {
	background-color: #219653;
	border-radius: 8px;
	border: none;
}

.homepage {
	display: flex;
	justify-content: center;
}

.trending-bg-color {
	background-color: #6fcf97;
}

.nutriblog-hover:hover {
	background-color: #fbf9f9;
}

.unliked {
	position: absolute;
	top: -100px;
	left: 20px;
	z-index: 1000;
}

.image-styling {
	position: relative;
}

.trending-component {
	background-color: #6fcf97;
}

.border-style {
	border-style: dashed !important;
	width: 500px;
	height: 100vh;
	background-color: #fffbf5;
	display: flex;
	justify-content: center;
	align-items: center;
	border-color: #eca43d;
  
}

.border-class {
	border: 10px solid pink;
}

.no-border-class {
  border: 0px;
}

.footer-class {
  background-color: #6fcf97;
}
